<ion-view view-title="AddPlace">
  <ion-header-bar class="bar-stable">
    <h2 class="title">Enter New Place To Live</h2>
  </ion-header-bar>
  <ion-content>
    <form id = "placeToLiveForm" name="PlaceToLiveForm" ng-submit="createItem(item)">
      <div class="card" id="general_card">
        <div class="item item-text-wrap">

          <label class="item item-input" id="general-name">
            <span class="input-label">Name</span>
            <input type="text" placeholder="name" ng-model="item.name">
          </label>

          <label class="item item-input item-select" id="general_state">
            <span class="input-label">State</span>
            <select ng-model="item.state">
              <option></option>
              <option>Researching</option>
              <option>Waiting</option>
              <option>Visiting</option>
              <option>Considering</option>
              <option>Rejected</option>
            </select>
          </label>

          <label class="item item-input" id="general_address_1">
            <span class="input-label">Address</span>
            <input type="text" placeholder="Address Line 1" ng-model="item.address1" />
          </label>

          <label class="item item-input" id="general_address_2">
            <span class="input-label"></span>
            <input type="text" placeholder="Address Line 2" ng-model="item.address2"/>
          </label>

          <label class="item item-input item-select" id="general_style">
            <span class="input-label">Style</span>
            <select ng-model="item.style">
              <option>Apartment</option>
              <option>House</option>
            </select>
          </label>

          <label class="item item-input" id="general_office_hours">
            <span class="input-label">Office Hours</span>
            <input type="text" placeholder="None" ng-model="item.officeHours"/>
          </label>

          <label class="item item-input" id="general_phone">
            <span class="input-label">Phone</span>
            <input type="tel" ng-model="item.phone"/>
          </label>

          <label class="item item-input" id="general_website">
            <span class="input-label">Website</span>
            <input type="text" placeholder="http://www.google.com" ng-model="item.website"/>
          </label>

          <label class="item item-input" id="general_num_beds">
            <span class="input-label">Num Beds</span>
            <input type="number" ng-model="item.numBeds"/>
          </label>

          <label class="item item-input" id="general_num_baths">
            <span class="input-label">Num Baths</span>
            <input type="number" ng-model="item.numBaths"/>
          </label>

          <label class="item item-input" id="general_num_floors">
            <span class="input-label">Num Floors</span>
            <input type="number" ng-model="item.numFloors"/>
          </label>

          <label class="item item-input" id="general_sq_ft">
            <span class="input-label">Sq Ft</span>
            <input type="number" ng-model="item.sqFt"/>
          </label>

          <label class="item item-input" id="general_rating">
            <span class="input-label">Rating</span>
            <input type="number" ng-model="item.rating"/>
          </label>

          <label class="item item-input item-select" id="general_first_floor_br">
            <span class="input-label">1st Fl BR</span>
            <select ng-model="item.firstFloorBR">
              <option>No</option>
              <option>Yes</option>
              <option>Only Master</option>
            </select>
          </label>
        </div>
      </div>

      <div class="card" id="amenities_card">
        <div class="item item-toggle">
          Dishwasher
          <label class="toggle">
            <input type="checkbox" ng-model="item.dishwasher" ng-checked="item.dishwasher">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>

        <div class="item item-toggle">
          Disposal
          <label class="toggle">
            <input type="checkbox" ng-model="item.disposal" ng-checked="item.disposal">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>

        <label class="item item-input item-select" id="amenities_range">
          <span class="input-label">Range</span>
          <select ng-model="item.range">
            <option></option>
            <option>Gas</option>
            <option>Electric</option>
            <option>Conductive</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_ac">
          <span class="input-label">AC</span>
          <select ng-model="item.ac">
            <option></option>
            <option>Central</option>
            <option>Window Units</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_heat">
          <span class="input-label">Heat</span>
          <select ng-model="item.heat">
            <option></option>
            <option>Central</option>
            <option>Baseboard</option>
            <option>Radiator</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_heat_source">
          <span class="input-label">Heat Source</span>
          <select ng-model="item.heatSource">
            <option></option>
            <option>Gas</option>
            <option>Electric</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_wd">
          <span class="input-label">Washer/Dryer</span>
          <select ng-model="item.wd">
            <option></option>
            <option>None</option>
            <option>Hookups</option>
            <option>In Unit</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_garage">
          <span class="input-label">Garage</span>
          <select ng-model="item.garage">
            <option></option>
            <option>None</option>
            <option>One Car</option>
            <option>Two Car</option>
            <option>Three Car</option>
            <option>Four Car</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_attic">
          <span class="input-label">Attic</span>
          <select ng-model="item.attic">
            <option></option>
            <option>No</option>
            <option>Yes</option>
            <option>Finished</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_basement">
          <span class="input-label">Basement</span>
          <select ng-model="item.basement">
            <option></option>
            <option>No</option>
            <option>Yes</option>
            <option>Finished</option>
          </select>
        </label>

        <label class="item item-input item-select" id="amenities_counters">
          <span class="input-label">Counters</span>
          <select ng-model="item.counters">
            <option></option>
            <option>Normal</option>
            <option>Granite</option>
          </select>
        </label>

        <div class="item item-toggle">
          FiOS
          <label class="toggle" id="amenities_fios">
            <input type="checkbox" ng-model="item.fios" ng-checked="item.fios">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>

        <div class="item item-toggle">
          Fireplace
          <label class="toggle" id="amenities_fireplace">
            <input type="checkbox" ng-model="item.fireplace" ng-checked="item.fireplace">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="card" id="complex_card">
        <div class="item item-text-wrap">

          <div class="item item-toggle">
            Fitness Center
            <label class="toggle" id="complex_fitness_center">
              <input type="checkbox" ng-model="item.fitnessCenter" ng-checked="item.fitnessCenter">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <label class="item item-input" id="complex_fitness_center_fee">
            <span class="input-label">Fitness Center Fee</span>
            <input type="number" ng-model="item.fitnessCenterFee"/>
          </label>


          <label class="item item-input item-select" id="complex_fitness_center_fee_term">
            <span class="input-label">Fitness Center Fee Term</span>
            <select ng-model="item.fitnessCenterFeeTerm">
              <option></option>
              <option>Month</option>
              <option>Year</option>
            </select>
          </label>

          <div class="item item-toggle">
            Pool
            <label class="toggle" id="complex_pool">
              <input type="checkbox" ng-model="item.pool" ng-checked="item.pool">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <label class="item item-input" id="complex_pool_fee">
            <span class="input-label">Pool Fee</span>
            <input type="number" ng-model="item.poolFee"/>
          </label>


          <label class="item item-input item-select" id="complex_pool_fee_term">
            <span class="input-label">Pool Fee Term</span>
            <select ng-model="item.poolFeeTerm">
              <option></option>
              <option>Month</option>
              <option>Year</option>
            </select>
          </label>

          <label class="item item-input item-select" id="complex_dog_space">
            <span class="input-label">Dog Space</span>
            <select ng-model="item.dogSpace">
              <option>None</option>
              <option>Yard</option>
              <option>Fenced Yard</option>
              <option>Local Dog Park</option>
            </select>
          </label>
        </div>
      </div>

      <div class="card" id="distance_card">
        <div class="item item-text-wrap">
          <label class="item item-input" id="distance_pat_work">
            <span class="input-label">Pat Work Distance (Mi)</span>
            <input type="number" ng-model="item.patWorkDistance"/>
          </label>

          <label class="item item-input" id="distance_pat_time">
            <span class="input-label">Pat Work Time (Min)</span>
            <input type="number" ng-model="item.patWorkTime"/>
          </label>

          <label class="item item-input" id="distance_srt">
            <span class="input-label">SRT Distance (Mi)</span>
            <input type="number" ng-model="item.srtDistance"/>
          </label>
        </div>
      </div>

      <div class="card" id="price_card">
        <div class="item item-text-wrap">
          <label class="item item-input" id="price_price">
            <span class="input-label">Price</span>
            <input type="number" ng-model="item.price"/>
          </label>

          <label class="item item-input" id="price_length">
            <span class="input-label">Length (Months)</span>
            <input type="number" ng-model="item.termLength"/>
          </label>

          <label class="item item-input" id="price_sd">
            <span class="input-label">Security Deposit</span>
            <input type="number" ng-model="item.securityDeposit"/>
          </label>

          <label class="item item-input" id="price_hoa_fee">
            <span class="input-label">HOA</span>
            <input type="number" ng-model="item.hoaFee"/>
          </label>

          <label class="item item-input item-select" id="price_hoa_term">
            <span class="input-label">HOA Term</span>
            <select ng-model="item.hoaFeeTerm">
              <option></option>
              <option>Month</option>
              <option>Year</option>
            </select>
          </label>


          <label class="item item-input item-select" id="price_sd_type">
            <span class="input-label">SD Type</span>
            <select ng-model="item.securityDepositType">
              <option>None</option>
              <option>SD Only</option>
              <option>SD and First</option>
              <option>SD, First, Last</option>
            </select>
          </label>

          <div class="item item-toggle">
            Water
            <label class="toggle" id="price_water">
              <input type="checkbox" ng-model="item.waterIncluded" ng-checked="item.waterIncluded">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <div class="item item-toggle">
            Sewer
            <label class="toggle" id="price_sewer">
              <input type="checkbox" ng-model="item.sewerIncluded" ng-checked="item.sewerIncluded">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <div class="item item-toggle">
            Trash
            <label class="toggle" id="price_trash">
              <input type="checkbox" ng-model="trash.waterIncluded" ng-checked="item.trashIncluded">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <div class="item item-toggle">
            Gas
            <label class="toggle" id="price_gas">
              <input type="checkbox" ng-model="item.gasIncluded" ng-checked="item.gasIncluded">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <div class="item item-toggle">
            Electric
            <label class="toggle" id="price_electric">
              <input type="checkbox" ng-model="item.electricIncluded" ng-checked="item.electricIncluded">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <label class="item item-input" id="price_dog">
            <span class="input-label">Dog Fee</span>
            <input type="number" ng-model="item.dogFee"/>
          </label>

          <label class="item item-input item-select" id="price_dog_term">
            <span class="input-label">Dog Term</span>
            <select ng-model="item.dogFeeTerm">
              <option></option>
              <option>Month</option>
              <option>Year</option>
            </select>
          </label>

          <label class="item item-input" id="price_dog_deposit">
            <span class="input-label">Dog Deposit</span>
            <input type="number" ng-model="item.dogDeposit"/>
          </label>

          <label class="item item-input item-select" id="price_dog_deposit_refundable">
            <span class="input-label">Dog Deposit Refund</span>
            <select ng-model="item.dogDepositRefundable">
              <option>No</option>
              <option>Yes</option>
              <option>Partial</option>
            </select>
          </label>
        </div>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create!</button>
      </div>

    </form>


    <!--

Dog Fee
Dog Fee Type (Month Year)
Dog Deposit
Dog Deposit Refundable
-->

    <!--div class="list card" id="page-card24">
      <form id="page-form1" class="list ">

        <label class="item item-input " id="page-input1">
          <span class="input-label">Input</span>
          <input type="text" placeholder="">
        </label>

        <label class="item item-input" id="numBath">
          <span class="input-label">Num Bath</span>
          <input type="number" placeholder="0"/>
        </label>
      </form>
      <button id="page-button2" class=" button button-positive  button-block ">Tap me!</button>
    </div-->
  </ion-content>
</ion-view>
